.darkness .loader-7::after,.darkness .loader-7::before,
.darkness .loader-7::after,.darkness .loader-7::before,
.darkness .loader-7,.darkness .loader--7
{
	border-color: white !important;
}
.darkness .content>div{
	background-color: rgba(36,113,197,0.12);
	color: white;
}
.darkness .control-lock div{
	color: white;
}

.right .prompt{
	border-color: #000000;
}
body{
	padding-top: 70px;
	padding-right: 0;
	padding-left: 0;
}

.lnr-exit{
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 35px;
}




.content{
	margin-top: 0;
	height: auto;
	/* border-top: 1px #E5E5E5 solid;
	border-bottom: 1px #E5E5E5 solid; */
	color: #606367;
}
.content>div:nth-child(1){
	/* margin-top: 70px; */
}
.content>div{
	background-color: white;
	position: relative;
	margin-top: 20px;
	margin-left: 5%;
	height: 160px;
	width: 90%;
	border-radius: 8px;
	/* border: 1px #E5E5E5 solid; */	
}
.door{
}
.mouse-board{
	
}
.device-light{
}
.con-title{
	position: absolute;
	left: 15px;
	top: 10px;
}
.state{
	position: absolute;
	right: 15px;
	top: 0;
	width: 70px;
	height: 40px;
}
.state .dot{
	position: absolute;
	left: 0;
	top: 15px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #34C034;
}
.state .text{
	position: absolute;
	left: 20px;
	top: 10px;
	width: 60px;
	text-align: left;
	line-height: 20px;
	font-size: small;
}
.state1 .text2, .state1 .text3, .state1 .loader-7{
	display: none;
}
.state2 .text1, .state2 .text3, .state2 .dot{
	display: none;
}
.state2 .loader-7{
	margin-top: 6px;
	margin-left: -9px;
}
.state3 .text1, .state3 .text2, .state3 .loader-7{
	display: none;
}
.state3 .dot{
	background-color: #c30000;
}


.con{
	position: absolute;
	top: 40px;
	height: 120px;
	width: 100%;
}
.con .left{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
.left .icon{
	position: absolute;
	top: 6px;
	right: 34px;
	width: 100px;
	height: 100PX;
	background: red;
}
.door .icon{
	background: url('../img/icon.png') -100px 0px no-repeat;
}
.door.open .icon{
	background: url('../img/icon.png') 0px 0px no-repeat;
}
.darkness .door .icon{
	background: url('../img/icon.png') -300px 0px no-repeat;
}
.darkness .door.open .icon{
	background: url('../img/icon.png') -200px 0px no-repeat;
}
.mouse-board .icon{
	background: url('../img/icon.png') -500px 0px no-repeat;
}
.mouse-board.open .icon{
	background: url('../img/icon.png') -700px 0px no-repeat;
}
.darkness .mouse-board .icon{
	background: url('../img/icon.png') -400px 0px no-repeat;
}
.darkness .mouse-board.open .icon{
	background: url('../img/icon.png') -600px 0px no-repeat;
} 
.device-light .icon{
	background: url('../img/icon.png') -1100px 0px no-repeat;
}
.device-light.open .icon{
	background: url('../img/icon.png') -900px 0px no-repeat;
}
.darkness .device-light .icon{
	background: url('../img/icon.png') -1000px 0px no-repeat;
}
.darkness .device-light.open .icon{
	background: url('../img/icon.png') -800px 0px no-repeat;
} 


.con .right{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

.content>div:nth-child(3){
	/* height: 270px; */
	/* height: 320px; */
}
.right .prompt{
	position: absolute;
	width: 90%;
	top: 33px;
	left: 5px;
	height: 15px;
	/* transform: translateX(-50%); */
	/* border-bottom: #EEEEEE 1px solid; */
	text-align: left;
	line-height: 15px;
	padding-left: 6px;
	border-left: 4px solid #EEEEEE;
}
.right .mui-switch {
	position: absolute;
	bottom: 30px;
	left: 4px;
}


.choseTime1{
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-top: 0;
	width: 80%;
	height: 30px;
	line-height: 30px;
	/* font-size: 2rem; */
}
.ctime-msg{
	float: left;
	margin-right: 5px;
}
.chtime1{
	position: relative;
	float: left;
	width: 25%;
}
.hour1{
	width: 45%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 1px rgb(200,200,200) solid;
	border-radius: 10px;
	overflow: auto;
}
#position-hour-text{
	margin-top: 10px;
}
.dom1{
	float: left;
	width: 10%;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.min1{
	width: 45%;
	height: 30px;
	float: right;
	text-align: center;
	line-height: 30px;
	border: 1px rgb(200,200,200) solid;
	border-radius: 10px;
	overflow: auto;
}

.choseTime2{
	position: absolute;
	display: inline-block;
	left: 175px;
	top: 0;
	width: 80%;
	height: 30px;
	line-height: 30px;
}
.chtime2{
	position: relative;
	float: left;
	width: 25%;
}
.hour2{
	width: 45%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 1px rgb(200,200,200) solid;
	border-radius: 10px;
	overflow: auto;
}
.dom2{
	float: left;
	width: 10%;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.min2{
	width: 45%;
	height: 30px;
	float: right;
	text-align: center;
	line-height: 30px;
	border: 1px rgb(200,200,200) solid;
	border-radius: 10px;
	overflow: auto;
}


.conadd {
	position: absolute;
	top: 145px;
	left: 0;
	width: 100%;
	height: 129px;
}
.addhead>div:nth-child(1){
	width: 100%;
	height: 25px;
	border-bottom: 2px solid white;
}
.addhead>div:nth-child(2){
	margin-top: 6px;
}
.conadd .addhead{
	position: absolute;
	height: 46px;
	width: 315px;
	top: 10px;
	left: 15px;
}
.conadd .addfoot{
	position: absolute;
	bottom: 10px;
	/* left: 15px; */
	height: 46px;
	width: 300px;
	/* background: #000000; */
}
.addhead .ipt{
	line-height: 0px;
	display: inline-block;
	position: absolute;
	
}
.addhead .ipt>label{
	position: absolute;
	width: 110px;
	top: 9px;
}
.addhead .ipt:nth-child(1){
	left: 0;
}
.addhead .ipt:nth-child(2){
	left: 34.5%;
}
.addhead .ipt:nth-child(3){
	left: 59%;
}
.addhead .ipt:nth-child(4){
	left: 83.5%;
}
.conadd .addfoot{
	width: 100%;
	margin-top: 0px;
	height: auto;
	position: absolute;
	top: 72px;
}
.addfoot .light_value{
    position: relative;
    margin-top: 4px;
    margin-left: 15px;
    width: 90%;
    height: 30px;
    /* background: #000000; */
    line-height: 30px;
}
.light_value input, .light_value div, .light_value h3{
	display: inline-block;
}
.light_value>div{
	padding-left: 25px;
}
.light_value input{
	background-color: rgba(0,0,0,0);
	border: 1px rgb(200,200,200) solid;
	padding: 0px 20px;
	width: 100px;
	height: 26px;
    position: absolute;
    top: 0.5px;
    left: 141px;
	text-align: center;
	border-radius: 8px;
}
.light_value h3:nth-child(1){
	position: absolute;
	left: 121px;
	top: -4px;
}
.light_value h3:nth-child(3){
	position: absolute;
	left: 250px;
	top: -2px;
}
.device-light button{
	position: absolute;
	bottom: 16px;
}

.device-light>button:nth-child(5){
	right: 90px;
}
.device-light>button:nth-child(6){
	right: 20px;
}

.mui-switch.mui-active:before{
	content: none;
}
.mui-switch:before{
	content: none;
}
.mui-switch{
	background-color: #f0ad4e;
}

.control-lock{
	position: absolute;
	text-align: right;
	line-height: 40px;
	top: 15px;
	right: 25px;
	height: 40px;
	width: 120px;
}
.control-lock div{
	display: none;
	color: #606367;
}
.control-lock span{
	margin-left: 7px;
	font-size: 25px;
	position: relative;
	top: 3px;
	font-weight: 600;
}
.control-lock div.lock span{
	color: #EFAD4D;
}
.control-lock div.unlock span{
	color: #5BB85A;
}
.control-lock.lock .lock{
	display: block;
}
.control-lock.unlock .unlock{
	display: block;
}
