
html,body{
	color: #606367;
	height: 1220px;
}
body{
	padding-top: 140px;
	/* padding-bottom: 140px; */
}
.mark{
	height: 1220px;
}
.darkness .con1, .darkness .con2, .darkness .con3,  .darkness .con4, .darkness input, .darkness .con5 {
    background-color: rgba(36,113,197,0.12);
}
.darkness .con4 .div-peidianshi{
	border-bottom: 2px solid #fbfbfb;
}
/* .mark{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(26, 26, 26, 0);
}
.darkness .mark{
	background-color: rgba(26, 26, 26, 0.9);
} */
.darkness .headImg{
	border-color: white;
}
.admin .con2, .admin .con3, .admin .adminbox, .admin .con4{
	display: block !important;
}

.theme{
    position: absolute;
    left: 36px;
    bottom: 20px;
    border-radius: 3px;
    width: 100px;
    height: 30px;
	
}
.theme div{
	
}
.theme .left{
	position: absolute;
	top: 0;
	height: 26px;
	width: 45px;
	background-color: white;
	left: 0px;
	border: #F0AD4E solid 4px;
}
.theme .right{
	position: absolute;
	background-color: black;
	
	top: 3px;
	height: 19px;
	width: 43px;
	right: 2px;
	border: none;
}
.darkness .theme .left{
	top: 3px;
	height: 19px;
	width: 43px;
	left: 2px;
	border: none;
}
.darkness .theme .right{
	border: #F0AD4E solid 4px;
	top: 0px;
	right: 0px;
	height: 26px;
	width: 45px;
}


.head{
	width: 100%;
	height: 140px;
}

.headImg{
	position: absolute;
	top: 20px;
	right: 15px;
	border: #606367 2px solid;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	
}
.headImg .lnr{
	/* position: absolute; */
	position: relative;
	display: inline-block;
	line-height: 58px;
	font-size: 60px;
	left: 50%;
	transform: translateX(-50%);
	width: 58px;
}
.head .adminbox{
	color: #dd524d;
	display: inline-block;
	position: absolute;
	top: 96px;
	left: 30px;
	height: 20px;
	text-align: right;
	font-size: 15px;
	line-height: 10px;
	display: none;
}
.head .adminbox .lnr-user{
	position: relative;
}
.head .name{
	display: inline-block;
	position: absolute;
	top: 55px;
	right: 125px;
	height: 20px;
	text-align: right;
	font-size: 26px;
	line-height: 10px;
	border-bottom: 1px solid #606367;
}
.head .account{
	display: inline-block;
	position: absolute;
	top: 90px;
	right: 125px;
	height: 20px;
	text-align: right;
	border-bottom: 1px solid #606367;
}
.head .left .lnr{
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 35px;
}

.con{
	position: relative;
}
.con1{
	background-color: white;
	height: 220px;
	width: 90%;
	margin-left: 5%;
	border-radius: 6px;
}
.con1 .title{
	display: inline-block;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
	height: 20px;
	border-left: #606367 4px solid;
	line-height: 20px;
	padding-left: 7px;
}
.con1 .input1 {
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
}
.con1 .input2 {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}
.con1 button {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}


.con2{
	background-color: white;
	height: 220px;
	width: 90%;
	margin-top: 15px;
	margin-left: 5%;
	border-radius: 6px;
	display: none;
}
.con2 .title{
	display: inline-block;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
	height: 20px;
	border-left: #606367 4px solid;
	line-height: 20px;
	padding-left: 7px;
}
.con2 .input1 {
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
}
.con2 .input2 {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}
.con2 .but {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}
.con2 button{
	width: 22.3%;
}
.con2 button:nth-child(1){
	margin-left: 0;
	float: left;
}
.con2 button:nth-child(2){
	margin-left: 3%; 
	float: left;
}
.con2 button:nth-child(3){
	margin-right: 0;
	float: right;
}
.con2 button:nth-child(4){
	margin-right: 3%;
	float: right;
}

.con3{
	background-color: white;
	height: 165px;
	width: 90%;
	margin-top: 15px;
	margin-left: 5%;
	border-radius: 6px;
	display: none;
}
.con3 .title{
	display: inline-block;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
	height: 20px;
	border-left: #606367 4px solid;
	line-height: 20px;
	padding-left: 7px;
}
.con3 .input1 {
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
}
.con3 .input2 {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}
.con3 .but {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}
.con3 button{
	width: 22.3%;
}
.con3 button:nth-child(1){
	margin-left: 0;
	float: left;
}
.con3 button:nth-child(2){
	margin-left: 3%; 
	float: left;
}
.con3 button:nth-child(3){
	margin-right: 0;
	float: right;
}
.con3 button:nth-child(4){
	margin-right: 3%;
	float: right;
}



.con4{
	background-color: white;
	height: auto;
	width: 90%;
	margin-top: 15px;
	margin-left: 5%;
	border-radius: 6px;
	display: none;
}
.con4 .title{
	display: inline-block;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
	height: 20px;
	border-left: #606367 4px solid;
	line-height: 20px;
	padding-left: 7px;
	width: 90%;
}

.con4 .input1 {
    margin-top: 20px;
    margin-left: 5%;
    width: 65%;
}
.con4 .queryAcc-btn{
	margin-top: 24px;
    width: 20%;
    margin-left: 12px;
}
.con4 .input2{
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
}
.con4 .div-peidianshi{
	border-bottom: 1px #606367 solid;
	width: 90%;
	margin-left: 5%;
	margin-top: 5px;
}
.con4 #peidianshi-monitor{
	display: inline-block;
	margin-left: 40px;
}
.con4 #peidianshi-control{
	display: inline-block;
	margin-left: 20px;
}
.con4 .monitor-control-auth{
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
	margin-bottom: 20px;
}
.con4 label{
	display: inline-block;
}

.con5{
	background-color: white;
	height: auto;
	width: 90%;
	margin-top: 15px;
	margin-left: 5%;
	border-radius: 6px;
}
.con5 button{
	margin-top: 10px;
	margin-left: 5%;
	width: 90%;
	margin-bottom: 10px;
}
